.tela_admin {
    background-color: var(--cor-fundo-escuro);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;

    .sideBar {
        width: 20vw;
        background-color: #171F33;
        border: 0.063rem solid #3B494C;
        padding-top: 2.813rem;
        padding-bottom: 1.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sideBarUp {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h2 {
                font-size: 1.5rem;
                color: #C3F5FF;
                font-weight: bold;

            }

            button {
                height: 2.625rem;
                border: none;
                cursor: pointer;
                font-size: 0.875rem;
                font-weight: bold;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1rem;
                gap: 0.813rem;

            }

            .ativado {
                border-radius: 0.5rem;
                background-color: #3E495D;
                color: #C3F5FF;

            }

            .desativado {
                background: none;
                color: var(--cor-texto-simples);

            }

        }

        .sideBarBottom {
            width: 100%;
            border-top: 0.063rem solid #3B494C;

            button {
                height: 2.625rem;
                border: none;
                cursor: pointer;
                font-size: 0.875rem;
                font-weight: bold;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1rem;
                gap: 0.813rem;
                background: none;
                color: var(--cor-texto-simples);

            }

        }

    }

    .principal {
        width: 80vw;

        .conteudo {
            padding: 0rem 2.5rem;

            .despesasRepublica {
                padding: 2.5rem 0rem;
                display: flex;
                gap: 1.5rem;
                
                .informacaoPrincipal {
                    width: 100%;
                    background-color: #171F33;
                    border-radius: 0.75rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 2.188rem;
                    align-items: flex-start;

                    .dividaTotal {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        p {
                            font-size: 0.875rem;
                            color: var(--cor-texto-simples)

                        }

                        h2 {
                            font-size: 2.5rem;
                            color: #C3F5FF;

                        }

                    }

                    .despesasRepublicaBottom {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: 4.563rem;
                        align-items: flex-end;
                        border-top: 0.063rem solid rgb(59, 73, 76, 30%);

                        .dividaIndividual {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            p {
                                font-size: 0.75rem;
                                color: var(--cor-texto-simples)

                            }

                            h2 {
                                font-size: 1.5rem;
                                color: var(--cor-titulo)

                            }

                        }

                        .vencimento {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            p {
                                font-size: 0.75rem;
                                color: var(--cor-texto-simples)

                            }

                            h2 {
                                font-size: 0.875rem;
                                color: var(--cor-titulo)

                            }

                        }

                    }

                }

                .add {
                    border: none;
                    cursor: pointer;
                    border-radius: 0.75rem;
                    width: 23.33vw;
                    background-color: var(--cor-azul-claro);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1.625rem;

                    img {
                        height: 4rem;
                        width: 4rem;

                    }

                    h2 {
                        color: #00626E;
                        font-size: 1.5rem;
                        width: 9.063rem;

                    }

                }

            }

            .opcoes {
                display: flex;
                justify-content: flex-start;
                gap: 2.125rem;
                border-bottom: 0.063rem solid #3B494C;

                .opcao {
                    display: flex;
                    border: none;
                    cursor: pointer;
                    background: none;
                    height: 2rem;
                    color: var(--cor-texto-simples);
                    font-size: 0.875rem;
                    font-weight: 600;

                }

                .ativo {
                    border-bottom: 0.25rem solid #C3F5FF;
                    color: #C3F5FF;

                }

            }

            .containerDespesas {
                display: flex;
                flex-direction: column;
                padding: 1rem 0rem;
                align-items: flex-start;

                .detalhesFatura {
                    font-size: 0.75rem;
                    color: var(--cor-texto-simples);
                    margin-bottom: 1rem;

                }

                .pendentes {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 0.5rem;

                }

                .vazio {
                    display: flex;
                    width: 100%;
                    height: 4rem;

                    p {
                        color: var(--cor-texto-simples)

                    }

                }

            }

        }

    }

}