* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;

}

:root {
    --cor-fundo-escuro: #0B1326;
    --cor-azul-claro: #00E5FF;
    --cor-texto-simples: #BAC9CC;
    --cor-titulo: #DAE2FD;
    --cor-fundo-modal: #222A3D;
}