.componente_pendente {
    width: 100%;
    background-color: #131B2E;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    display: flex;

    .containerDireita {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .icone {
            border-radius: 1.5rem;
            width: 3rem;
            height: 3rem;

        }

        .containerNome {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.063rem;

            h2 {
                font-size: 1rem;
                color: var(--cor-titulo);

            }

            p {
                font-size: 0.875rem;
                color: var(--cor-texto-simples);

            }

        }

    }

    .containerEsquerda {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        h2 {
            font-size: 1.5rem;
            color: var(--cor-azul-claro);

        }

        .analiseBotoes {
            display: flex;
            gap:0.5rem;
            cursor: pointer;

            .analiseBotao {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 1.25rem;

            }

        }

    }

}